@{
    ViewData["Title"] = "Política de Privacidad";
}

<h2>Política de Privacidad</h2>

<h3>Introducción</h3>
<p>
    En <strong>SistemaApartados</strong>, valoramos y respetamos tu privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos tu información personal cuando utilizas nuestro sitio web y servicios.
</p>

<h3>Información que Recopilamos</h3>
<p>
    Recopilamos información personal que nos proporcionas directamente, como tu nombre, dirección de correo electrónico, número de teléfono y detalles de la reserva. También recopilamos información automáticamente a través de cookies y tecnologías similares cuando navegas por nuestro sitio web.
</p>

<h3>Uso de la Información</h3>
<p>
    Utilizamos la información recopilada para:
</p>
<ul>
    <li>Procesar y gestionar tus reservas.</li>
    <li>Comunicarnos contigo y responder a tus consultas.</li>
    <li>Mejorar nuestros servicios y personalizar tu experiencia.</li>
    <li>Cumplir con nuestras obligaciones legales y reglamentarias.</li>
</ul>

<h3>Compartir Información</h3>
<p>
    No compartimos tu información personal con terceros, excepto en los siguientes casos:
</p>
<ul>
    <li>Con proveedores de servicios que nos ayudan a operar nuestro sitio web y servicios.</li>
    <li>Cuando sea necesario para cumplir con la ley o responder a procesos legales.</li>
    <li>Con tu consentimiento explícito.</li>
</ul>

<h3>Seguridad de la Información</h3>
<p>
    Implementamos medidas de seguridad técnicas y organizativas para proteger tu información personal contra el acceso no autorizado, la pérdida o el daño. Sin embargo, ninguna transmisión de datos por Internet es completamente segura, por lo que no podemos garantizar la seguridad absoluta de tu información.
</p>

<h3>Tus Derechos</h3>
<p>
    Tienes derecho a acceder, corregir, actualizar o eliminar tu información personal. También puedes oponerte al procesamiento de tus datos personales o solicitar la limitación del mismo. Para ejercer estos derechos, por favor, contáctanos a través de la información de contacto proporcionada en nuestro sitio web.
</p>

<h3>Cambios en la Política de Privacidad</h3>
<p>
    Podemos actualizar esta política de privacidad de vez en cuando. Te notificaremos sobre cualquier cambio publicando la nueva política en nuestro sitio web. Te recomendamos revisar esta política periódicamente para estar informado sobre cómo protegemos tu información.
</p>

<h3>Contacto</h3>
<p>
    Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos a través de <a href="mailto:correo@ejemplo.com">correo electrónico</a> o <a href="tel:+1234567890">número de teléfono</a>.
</p>
