@model SistemaApartados.Models.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_LoginLayout"; // Usar un layout diferente para ocultar el header
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="form-group">
                            <label asp-for="CorreoElectronico" class="control-label"></label>
                            <input asp-for="CorreoElectronico" class="form-control" />
                            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contrasena" class="control-label"></label>
                            <input asp-for="Contrasena" class="form-control" type="password" />
                            <span asp-validation-for="Contrasena" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block" />
                        </div>
                    </form>
                    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                    {
                        <div class="alert alert-danger">
                            @ViewData.ModelState[""].Errors[0].ErrorMessage
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
